/* font imports */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Roboto:wght@400;900&display=swap");
/* Global Styles */

:root {
  --brand-green: #46b89b;
  --brand-purlpe: #622260;
  --white: #e5e5e5;
  --black: #070707;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* remove! */
img {
  height: 200px;
}

ul {
  list-style: none;
}

body {
  background-color: var(--white);
  font-family: "Archivo", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

a {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 100px;
}

.btn {
  text-decoration: none;
  color: black;
  border: solid 5px black;
  border-radius: 31px;
  padding: 7px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
}

.btnpurple {
  color: #622260;
  border: solid 5px #622260;
}

.btnwhite {
  color: white;
  border: solid white;
}

/* Desktop styles */
.nav_container {
  /* background-color: #070707; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  width: 100%;
  color: var(---black);
  height: 10vh;
}

.logo img {
  height: 70px;
}

.nav_container a {
  /* color: white; */
  color: var(---black);
  text-decoration: none;
}

.nav_container ul {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

/* Hero  */

.hero {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  align-items: center;
}

.hero_content h1 {
  white-space: nowrap;
}

.hero_content {
  margin: 90px 0px 0px 165px;
  width: 40%;
  z-index: 99;
}

.hero_content p {
  margin-bottom: 30px;
  font-size: 2rem;
}

.hero_img {
  height: auto;
  width: 100%;
  transform: translateX(100px);
  background-color: var(--brand-green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 871px 0px 1117px 246px;
  rotate: 26deg;
}

.hero_img img {
  border-radius: 871px 0px 1117px 246px;
  z-index: 2;
  height: 100%;
  width: 100%;
  object-fit: cover;
  rotate: -26deg;
}

/* exhibit icons  */

.layout_margin {
  margin: 0% 10%;
}

.flex_row_space-between {
  display: flex;
  justify-content: space-between;
}

.hexagon_container i {
  color: white;
  font-size: 50px;
}

.flex_row_space-between a {
  color: black;
  text-decoration: none;
}

.hexagon_container {
  background-color: #622260;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  height: 95px;
  width: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.align_container {
  height: 95px;
  width: 95px;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

/* Exhibit hero */

.exhibit_hero {
  display: flex;
  justify-content: center;
}

.exhibit_hero_content {
  background-color: #46b89b;
  text-align: center;
  border-radius: 80px 0px 0px 250px;
  width: 400px;
}

.exhibit_hero_content h2 {
  margin-top: 30%;
}

.exhibit_img {
  width: fit-content;
}

.exhibit_img img {
  display: flex;
  border-radius: 0px 75px 206px 0px;
  height: 300px;
}

/* info cards */

.container_info {
  display: flex;
  margin: 100px;
}

.info_card {
  display: flex;
  flex-direction: column;
  background-color: #46b89b;
  margin: 30px;
  border-radius: 83px;
}

.info_card h2 {
  margin: 20px;
}

.info_card p {
  margin: 20px;
}

.info_card img {
  height: 280px;
  width: 100%;
  object-fit: cover;
  border-radius: 83px 83px 0px 0px;
}

.info_card1 img {
  object-position: 100% 0;
}

.info_card .btn {
  margin: 0px 0px 40px 20px;
  width: fit-content;
}

/* Visit hero */

.visit_hero {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  overflow: hidden;
  align-items: center;
}

.visit_hero_img {
  margin-top: 30px;
  height: auto;
  width: 100%;
  transform: translateX(-150px);
  background-color: var(--brand-purlpe);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 127px 452px 196px 362px;
  rotate: -10deg;
}

.visit_hero_img img {
  border-radius: 127px 452px 196px 362px;
  z-index: 2;
  height: 100%;
  width: 100%;
  object-fit: cover;
  rotate: 10deg;
}

.visit_hero_content {
  margin: 90px 0px 0px 165px;
  width: 40%;
  z-index: 99;
}

.visit_hero_content p {
  margin-bottom: 30px;
}

/* explore banner */

.explore_banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/pexels-felix-mittermeier-956999.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0px;
}

.explore_banner h2 {
  color: white;
  margin: 30px 0px;
}

.explore_banner a {
  margin-bottom: 30px;
}

/* special events */

.flex_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.special_events {
  margin: 30px 0px;
  padding-right: 80px;
}

.special_events h3 {
  font-size: 30px;
  font-family: "Archivo";
  font-weight: 400;
  margin: 20px 0px;
}

.special_events a:visited {
  color: inherit;
}

.news_img {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/brett-meliti-RgkYMfFopIA-unsplash.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 83px;
  margin: 30px 0px;
}

.news_img h2 {
  color: white;
}

footer {
  background-color: #070707;
  margin-top: 60px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer p {
  color: white;
}

footer h2 {
  color: white;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px 20px 60px;
}

.footer_info {
  max-width: 300px;
}

.footer_info p {
  margin: 20px 0px 30px;
}

.footer_nav li {
  margin-bottom: 10px;
}

.footer_aditional_info li {
  margin-bottom: 10px;
}

.footer_bottom {
  display: flex;
  padding-left: 60px;
}

.social_media_icons ul {
  display: flex;
  margin: 20px 0px;
}

.social_media_icons i {
  margin-right: 20px;
  font-size: 28px;
}

.copyright {
  margin: 20px 0px;
}

/* exhibits page */

.exhibit_header {
  margin-left: 100px;
}

.flex_comlumn {
  display: flex;
  flex-direction: column;
}

.exhibit_card {
  display: flex;
  margin: 30px 100px;
  justify-content: center;
  height: 400px;
}

.exhibit_content {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--brand-green);
  padding: 20px 70px;
  border-radius: 83px 0px 0px 83px;
  max-width: 700px;
}

.hexagon_container2 {
  left: -40px;
  position: absolute;
}

.exhibit_card_img {
  height: 400px;
}

.exhibit_card_img img {
  height: 100%;
  border-radius: 0px 83px 83px 0px;
}

/* smaller screen/tablet */
@media (max-width: 1500px) {
  h1 {
    font-size: 70px;
  }

  .container_info {
    margin: 50px;
  }

  .info_card {
    margin: 10px;
  }
}

@media (max-width: 1000px) {
  .container_info {
    align-items: center;
  }

  .container_info {
    flex-direction: column;
  }

  .info_card {
    width: 400px;
  }
}
